// Colors

$primary-color: #013654;
$secondary-color: #23BBBF;
$tertiary-color: #8CC63E;
$body-color: #051F2A;
$footer-color: #001D2D;
$footer-elemet-color: #013654;
$color-navbar: $white;
$color-black: #000000;



// breakpoints

$layout-breakpoint-big: 1200px;

$layout-breakpoint-medium: 992px;

$layout-breakpoint-small: 768px;

$layout-breakpoint-very-small: 580px;

$layout-breakpoint-mobile: 430px;

$layout-breakpoint-testimonials: 490px; 
