.lyp-age {
  &__content {
    background-color: $secondary-color;
    color: $white;
    font-size: 24px;
    padding: 30px;
    margin-left: 60px;
    position: relative;

    &:before {
      content: url(./../img/home/review-element.png);
      position: absolute;
      z-index: -1;
      bottom: -8px;
      left: -60px;
    }
  }
}

.lyp-card {
  border: none;
  border-radius: 8px;
  max-width: 350px;
  height: 100%;
  border: 1px solid rgba(35, 187, 191, 0.3);
  // min-height: 645px;

  &__body {
    padding: 40px 35px;
  }

  &__title {
    @include poppins-bold();
    font-size: 16px;
    margin-bottom: 30px;
    min-height: 40px;
  }

  &__content {
    @include manjiri-regular();
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.lyp-cards {
  position: relative;

  .owl-stage {
    display: flex;
  }

  .owl-dots {
    display: none;
  }

  .owl-nav {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: calc(100% + 40px);
    font-size: 40px;
    color: $body-color;

    button:focus {
      outline: none;
    }

    .owl-prev {
      display: none;
    }

    .owl-next {
      position: absolute;
      right: 0;
    }
  }
}

@media (max-width: $layout-breakpoint-very-small) {
  .owl-nav {
    .owl-next {
      position: absolute;
      margin-right: 8px;
    }
  }
  .lyp-cards {
    overflow: hidden;
  }
  .lyp-card {
    max-width: 300px;
  }
  .lyp-card > img {
    max-width: 290px;
  }
  .lyp-age__content {
    font-size: 16px;
  }
  .lyp-card__body {
    padding: 5px 10px;
  }
  .lyp-card__title {
    margin-bottom: 0px;
  }
  .lyp-card__content {
    margin-top: 10px;
}
}
